<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div><div style="font-size: larger;color:#8eba47;font-weight: 800;">Cyber Port 1</div></div>
      </ion-col>
      <ion-col size="3" style="text-align: right;">
        <div><ion-icon name="call" style="font-size: 25px;"></ion-icon></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <div><div style="font-size: small;color:gray;margin-top:5px">Electric Vehicle Charging Station</div>
        <div style="font-size: small;color:gray;margin-top:10px">Kothuru, Andra Pradesh</div></div>
      </ion-col>
      <ion-col size="4" style="text-align: right;">
        <div style="font-size: small;color:gray;">2km Away</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="font-size: small;color:gray;margin-top:10px">Public</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div><ion-button  color="success" expand="block" style="font-size: x-small;font-weight: 400;" routerLink="../chargingdetails">charge</ion-button></div>
      </ion-col>
      <ion-col>
        <div><ion-button  color="light" expand="block"  style="font-size: x-small;font-weight: 400;" >Directions</ion-button></div>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 2px solid gainsboro;">
      <ion-col >
        <div style="text-align: center;">
        <div class=""><ion-icon  style="font-size: 25px;" name="flash"></ion-icon></div>
        <div class="" style="font-size: x-small;color:rgb(0, 0, 0);margin-top:10px;font-weight: 600;">Type 2</div>
        <div class="" style="font-size: xx-small;color:rgb(155, 155, 155);margin-top:10px">Charger Type</div>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center;">
          <div class=""><ion-icon  style="font-size: 25px;" name="folder"></ion-icon></div>
          <div class="" style="font-size: x-small;color:rgb(0, 0, 0);margin-top:10px;font-weight: 600;">RS.33/h</div>
          <div class="" style="font-size: xx-small;color:rgb(155, 155, 155);margin-top:10px">Price</div>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center;">
          <div class=""><ion-icon  style="font-size: 25px;" name="battery-charging"></ion-icon></div>
          <div class="" style="font-size: x-small;color:rgb(0, 0, 0);margin-top:10px;font-weight: 600;">21kw</div>
          <div class="" style="font-size: xx-small;color:rgb(155, 155, 155);margin-top:10px">Power</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 4%;">
      <ion-col><ion-card>
        <ion-card-content>
          <div class="d-flex justify-content-center" >
            <img style="height:120px" src="https://rukminim1.flixcart.com/image/416/416/kc54ivk0/vehicle-battery/z/h/m/703201900000-dande-renewable-energy-original-imaftcaz7ktqvjce.jpeg?q=70">
          </div>
        </ion-card-content>
        <ion-card-header style="height:100px">
          <ion-card-subtitle style="color:black;font-size: small;text-align: center;font-weight: 600;">60V 35AH Lithium</ion-card-subtitle>
          <ion-card-subtitle  style="color:black;font-size: small;text-align: center;font-weight: 600">Batter Pack</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
         <ion-row >
           <ion-col size="8">
             <span style="color:orange;font-size: xx-small;text-align: center;font-weight: 600">₹339</span>
             <span style="color:rgb(73, 73, 73);font-size: xx-small;text-align: center;font-weight: 600;text-decoration: line-through;">₹399</span>
            </ion-col>
           <ion-col size="4"><span style="color:green;font-size: smaller;text-align: center;font-weight: 600">ADD</span></ion-col>
         </ion-row>
        </ion-card-content>
      </ion-card></ion-col>
      <ion-col><ion-card>
        <ion-card-content>
          <div class="" style="margin-left: auto;margin-right: auto;">
            <img style="height:120px" src="http://welsonpower.com/uploads/210312/1-210312201441447.jpg">
          </div>
        </ion-card-content>
        <ion-card-header style="height:100px">
          <ion-card-subtitle  style="color:black;font-size: small;text-align: center;font-weight: 600">Lithium Ion cells 18650</ion-card-subtitle>
          <ion-card-subtitle  style="color:black;font-size: small;text-align: center;font-weight: 600">2800 mAh</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row >
            <ion-col size="8">
              <span style="color:orange;font-size: xx-small;text-align: center;font-weight: 600">₹300</span>
              <span style="color:rgb(73, 73, 73);font-size: xx-small;text-align: center;font-weight: 600;text-decoration: line-through;">₹340</span>
             </ion-col>
            <ion-col size="4"><span style="color:green;font-size: smaller;text-align: center;font-weight: 600">ADD</span></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
