:root {
    --chargemen-primary: #8EBA47;
    --chargemen-secondary: #E8981F;
    --chargemen-black: #343434;
    --chargemen-white: #ffffff;
    --chargemen-grey: #E5E5E5;
    --chargemen-withdraw: #B40000;
    --chargemen-recharge: #00B407;
    --chargemen-grey-600: #888888;
    --chargemen-black-00: #000000;
    --chargemen-grey-500: #A6A6A6;
    --chargemen-green-light: #dffbdf;
    
}