platform :ios, '14.0'
use_frameworks!

# workaround to avoid Xcode caching of Pods that requires
# Product -> Clean Build Folder after new Cordova plugins installed
# Requires CocoaPods 1.6 or newer
install! 'cocoapods', :disable_input_output_paths => true

def capacitor_pods
  pod 'Capacitor', :path => '../../node_modules/@capacitor/ios'
  pod 'CapacitorCordova', :path => '../../node_modules/@capacitor/ios'
end

target 'App' do
  capacitor_pods
  # Add your Pods here
end

post_install do |installer|
  # Fix ITMS-91061: Add privacy manifests to Capacitor and Cordova frameworks
  privacy_xml = <<-PLIST
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSPrivacyTracking</key>
  <false/>
  <key>NSPrivacyTrackingDomains</key>
  <array/>
  <key>NSPrivacyCollectedDataTypes</key>
  <array/>
  <key>NSPrivacyAccessedAPITypes</key>
  <array/>
</dict>
</plist>
  PLIST

  %w[Capacitor CapacitorCordova Cordova].each do |pod_name|
    pod_target = installer.pods_project.targets.find { |t| t.name == pod_name }
    next unless pod_target

    pod_dir = File.join(installer.sandbox.root, pod_name)
    next unless File.directory?(pod_dir)

    manifest_path = File.join(pod_dir, 'PrivacyInfo.xcprivacy')
    File.write(manifest_path, privacy_xml)

    file_ref = installer.pods_project.main_group.new_file(manifest_path)
    pod_target.resources_build_phase.add_file_reference(file_ref)

    UI.message("ITMS-91061 fix: Added PrivacyInfo.xcprivacy to #{pod_name}")
  end
end
